@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
nav {
    position: fixed;
    left: 38%;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: black;
}
.active {
    font-size: 24px;
    color: #2f2f30;
}
.content .holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-type: y mandatory; 
    overflow-y: scroll;
}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
.one {
    background-color: white;
}
.two {
    background-color: white;
}
