@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 3rem;
}
nav a {
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    
}
nav a:hover,
nav a.active {
    color: black;
    font-size: 20px;
}
main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 700;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
section:not(:first-child) {
    background: white;
}
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Use viewport height to cover the entire screen */
    z-index: -1;
}
.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo-holder img {
    width: 60rem;
    position: relative;
    top: -9rem;
}
.spacer {
    position: absolute;
    background-color: rgb(28, 28, 28);
    width: 16%;
    height: 4.6rem;
    top: 0; 
    right: 2rem; 
    border-bottom: black 2px solid;
    border-left: black 2px solid;
    border-right: black 2px solid;
    border-radius: 0px 0px 20px 20px;
}
.spacer span {
    position: absolute;
    top: 16px;
    right: 80%;
    z-index: 1;
    color: white;
    font-size: 2.2rem;
    align-items: center;
}
.spacer h1 {
    z-index: 1;
    position: absolute;
    font-size: 20px;
    right: 15%;
}
